body {
    margin: 0px;
}
.home_container {
    position: relative;
    height: 100%;
}
.sidebar {
    width: 22%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 20px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
.sidebar img {
    width: 90px;
    border-radius: 100%;
    border: 2px solid #e5e5e5;
    
}
.sidebar h4 {
    color: rgba(0, 0, 0, 0.404);
}
.container {
    background-image: url("./images/home_page_bg_2.jpeg");
    height: 100vh;
    position: relative;
    margin-left: 22%;
    color: white;
    border-left: 15px solid rgb(248, 248, 248);
}
.container_mask {
    height: 100vh;
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.6);
}
.container .container_text {
    width: 100%;
    position: absolute;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    right: 0;
}
.container_text li {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    margin-left: 30%
    
}
.container_text li b{
    border-bottom: 3px solid rgb(250, 188, 18);
    padding-bottom: 3px;
}
.container .user_name {
    font-size: 65px;
    margin: 0px;
    padding-top: 10%;
}
.container .user_role {
    color: rgba(255, 255, 255, 0.24);
}
#nav {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}
#nav li {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid rgb(241, 234, 234);
}
#nav li.active {
    border-top: 1px solid rgb(241, 234, 234);
    background-color: rgb(248, 248, 248);
}
li.active a:after {
    background-color: rgb(255, 205, 40);
    display: block;
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
}
#nav a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}